### Config ###
build.sbt
setenv.sh
application.conf

### Scala ###
*.class
*.log

### SBT ###
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/


### IntelliJ ###
.bsp
.idea
out/

### VSCode ###
.bloop
.metals
.vscode
project/metals.sbt
project/project/